/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root values */

:root {
  --clr-primary: #ff581f;
  --clr-secondary: #111;
  --clr-light: #232220;

  --fc-light: #a3a3a3;
  --fc-white: #fff;
  --fc-black: #000;

  --max-width: 1200px;
}

/* Base values */

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--fc-white);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("assets/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Components */

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  outline: none;
  font-size: 1rem;
  color: var(--fc-white);
  border-radius: 5px;
  cursor: pointer;
}

.btn span {
  font-size: 1rem;
  transition: 0.3s;
}

.btn:hover span {
  transform: translateX(5px);
}

.btn-primary {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}

.btn__secondary {
  background-color: transparent;
  border: 1px solid var(--fc-white);
}

/* Header area */

.nav__logo a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--fc-white);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--fc-white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--clr-primary);
}

.nav__menu-btn {
  display: none;
  font-size: 1.5rem;
}

.header__container {
  padding-block: 5rem 12rem;
}

.header__container h1 {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.header__container .btn {
  margin: auto;
}
/* Section components */

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
}

.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.section__subheader::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  aspect-ratio: 1;
  background-color: var(--clr-primary);
  z-index: -1;
}

/* About area */

.about {
  background-color: var(--clr-secondary);
}

.about__container {
  padding-block: 0;
}

.about__grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4rem;
  align-items: center;
  background-color: var(--clr-light);
  transform: translateY(-5rem);
  border-radius: 10px;
}

.about__content .section__header {
  margin-bottom: 1rem;
}

.about__content .para {
  color: var(--fc-light);
}

.about__list {
  display: grid;
  gap: 2rem;
}

.about__item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about__item span {
  padding: 13px 20px;
  font-size: 1.75rem;
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  border-radius: 5px;
}

.about__item h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
